@font-face {
    font-family: Roboto;
    src: url("RobotoDraft.woff2");
}

body
{
    margin: 0;
    font-family: Roboto;
}

header
{
    display: flex;
    justify-content: space-between;
}

.divlogo
{
    width: 25%;
    margin-right: 0;
    padding: 0.75em;
}

.logo
{
    width: 100%;
}

header nav a {
    box-sizing: border-box;
    display: inline-block;
    padding: 0.75em;
    color: #37474f;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 2.5;
}

nav
{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 5%;
}

nav > ul
{
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: right;
}

nav > ul > li
{
    display: inline-block;
}

.article1_1
{
    margin-bottom: 5%;
}

.article1_1 > img
{
    position: relative;
}

article > img
{
    width: 100%;
}

.text_article1_1
{
    background-color: #ff7043;
    color: white;
    position: absolute;
    top: 21%;
    padding-right: 5%;
    padding-left: 5%;

}

.text_article1_1 > h1 > a
{
    color: white;
    text-decoration: none;
}

.article1_2
{
    margin-bottom: 5%;
}

.text_article1_2
 {
     margin-top: -1%;
     background-color: #c62828;
    font-size: small;
    padding-right: 5%;
    padding-left: 5%;
 }

.text_article1_2 > h1
{
    margin-top: 0;
}

.text_article1_2 > h1 > a
{
    color: white;
    text-decoration: none;
}

.text_article1_2 > a
{
    color: white;
    text-decoration: none;
}

.article1_3
{
    margin-bottom: 5%;
}

.text_article1_3
{
    margin-top: -1%;
    background-color: #5c6bc0;
    font-size: small;
    padding-right: 5%;
    padding-left: 5%;
}

.text_article1_3 > h1
{
    margin-top: 0;
}

.text_article1_3 > h1 > a
{
    color: white;
    text-decoration: none;
}

.text_article1_3 > a
{
    color: white;
    text-decoration: none;
}

.seconde_partie
{
    background-color: #e0e0e0;
}

.article2_1
{
    margin-bottom: 5%;
}

.text_article2_1
{
    padding-right: 5%;
    padding-left: 5%;
}

.article2_2
{
    margin-bottom: 5%;
}

.text_article2_2
{
    padding-right: 5%;
    padding-left: 5%;
}

.article2_3
{
    margin-bottom: 5%;
}

.text_article2_3
{
    padding-right: 5%;
    padding-left: 5%;
}

.form
{
    padding-top: 5%;
    background-color: #f5f5f5;
    color: #6f6f6f;
    line-height: 1.5;
    padding-right: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
}

.form > h1
{
    font-size: medium;

}

.button {
    background-color: #5677fc;
    border-radius: 2px;
    font-weight: 500;
    padding: .45em .938em .5em;
    text-transform: uppercase;
    border: 1px solid transparent;
    color: white;
    margin-top: 1em;
    display: block;
    font-size: 0.9em;
}

footer
{
    background-color: black;
}